* {
    padding: 0px;
    margin: 0px;
}

#box {
    /*background-color: #C0C0C0;*/
    width: 1100px;
    height: 100%;
    margin: 0 auto;

}

#box1_input2, #box1_input3, #box2_input2, #box2_input3, #box3_input2, #box3_input3, #box3_input4 {
    height: 25px;
    width: 60px;
}

#box1_input4, #box2_input4, #box2_input5 {
    height: 25px;
    width: 150px;
    /*font-size: 20px;*/
}

#box1_input1, #box2_input1, #box3_input1 {
    width: 490px;
    height: 25px;
    /*font-size: 20px;*/
}

div .file_list {
    font-family: "Courier New";
    word-break: break-all;
}

p {
    height: 35px;
    font-size: 22px;
    font-weight: bold;
}

label {
    width: 70px;
    height: 25px;
    display: inline-block;
}

.file_content {
    font-family: "Courier New";
}

.con2 {
    font-family: "Courier New";
    word-break: break-all;
    white-space: pre-line;
}
