<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>日志筛选</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>
<bady>

    <div id="box">  <!-- 主体 -->

        <div id="box1">
            <form autocomplete="on">
                <p>一: 首先设置日志路径</p>
                <label for="logpath">日志路径:</label>
                <input type="text" id="box1_input1" placeholder="日志路径后台已经配置, 无需填写! 可点击后面查看列表">
                <input type="button" id="box1_input2" value="提交" >
                <input type="reset" id="box1_input3" value="重置" >
                <input type="button" id="box1_input4" value="查看路径列表">
                <div class="file_list">

                </div>
            </form>
        </div>

        <br/>

        <div id="box2">
            <form autocomplete="on">

                <p>二: 填写日期或者订单号, 筛选文件!</p>
                <label for="orderNo">订单号:</label>
                <input type="text" name="orderNo" id="box2_input1"
                       placeholder="二选一, 订单号为32位; 日期的格式为: 201801010101(2018年1月1日1点1分)">
                <input type="button" id="box2_input2" class="box2-submit" value="提交">
                <input type="reset" id="box2_input3" class="butt" value="重置">

                <input type="button" id="box2_input4" class="box2-submit" value="查看订单相关的日志列表" >
                <input type="button" id="box2_input5" class="box2-submit-clear" value="清除当前订单号的缓存" style="color:red;">
            </form>
            <br/>
            <div class="file_content">
            </div>

        </div>

        <br/>

        <div id="box3">
            <form autocomplete="on">
                <div>
                    <p>三: 填写关键字</p>
                    <label for="keyword">关键字:</label>
                    <input type="text" name="keyword" id="box3_input1" placeholder="关键字有顺序之分, 多个关键字使用半角(英文)逗号分隔!">
                    <input type="button" id="box3_input2" class="box3-submit" value="提交">
                    <input type="text" id="box3_input3" placeholder="请输入过滤的字符">
                    <input type="button" id="box3_input4" class="box3-submit-1" value="过滤">
                </div>
            </form>
        </div>

        <br/>

        <div id="box4" class="con2">筛选结果为:
            <div id="box5" class="result-container"></div>
        </div>
    </div>
</bady>
</html>
